.backgrounds{
    background-color:#48C9B0 ;
    height: 100vh;
    width: 380px;
  
    
    
}
.main--menu{
    position: fixed;
}

.menu-management{
    color: black;
    font-family: sans-serif;
    
    padding-top: 120px;
    margin-left: 10px;
}
.add-products{
    padding-top: 50px;
    padding-left: 100px;
    font-family: sans-serif;
    color:white;
    cursor: pointer;

}
.rest-products{
    padding-top: 20px;
    padding-left: 100px;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
}