.main-containerr{
    height: 150vh;
}

.resimg{
    height: 50vh;
    width: 198vh;
}
.cardsq1{
    display: flex;
    /* justify-content: center; */
}
.container1{
    margin-top: -20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 2px solid #000;
    display: flex;
    border-radius: 20px;
background-color: white;
margin-left: 150px;
font-family: sans-serif;
}
.restcard1{
    height: 50px;
   
    padding-left: 10px;
}
.container2{
    font-family: sans-serif;
    margin-top: -20px;
    margin-left: 150px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 2px solid #000;
    display: flex;
    border-radius: 20px;
background-color: white;

}

.container3{
    
    font-family: sans-serif;
    margin-top: -20px;
    margin-left: 150px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 2px solid #000;
    display: flex;
    border-radius: 20px;
background-color: white;
}


.small-slider-containers{
    background-color:white;
    height: 500px;

}


.health-wellness-heading2{
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.buutton1{
   margin-left: 100px;


}

.card1{
    width: 100px;
}
.card-titles{
    font-family: sans-serif;
    color:black;
    margin-right: 150px;
    font-size:25px ;
}
h6{
    font-family: sans-serif;
    font-size: 20px;

}
.buttons{
    background-color: blue;
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: sans-serif;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 10px;
}
